.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 1.3rem;
    font-weight: bold;
    height: 2rem;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 2rem;
    transition: all 0.2s linear;
    cursor: pointer;
}

.square:hover {
    background-color: #f3b69e;
}

.square.current {
    background-color: lightsalmon;
}

.square.winning {
    background-color: #f6875b;
}