.introduction {
    background: url("hero.png") center no-repeat;
    background-size: cover;
    padding: 3em 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.avatar {
    margin-right: 2rem;
}

.avatar > img {
    border-radius: 50%;
}

.info {
    text-transform: uppercase;
    color: white;

}

.info__name {
    font-size: 3.25rem;
    letter-spacing: 0.02em;
    font-family: 'Courier New';
}

.info__position {
    font-size: 1.5rem;
}

@media (max-width: 600px) {
    .introduction {
        padding: 0.5em 1em;
        flex-direction: column;
        background-size: cover;
        text-align: center;
    }
    .avatar {
        margin-right: 0;
    }
}